body{
    margin:0;
    padding:0;
    color:#4c634c;
    background:url(4943.png);
    background-size:cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color:#4c634c ;
}
a:hover{
    color: #73d09d;
}

#main-header{
    background-color: #ffff;
    padding:15px;
    margin:0px;   
    color:#61698a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing:0.4em;
    letter-spacing:0.05em; 
    box-sizing:border-box;
}
#sub-header{
    background-color:#f0f5ff ;
    padding:13px;
    margin-top: 0px;
    margin-bottom:30px;
    letter-spacing: 0.01em;
    word-spacing: 0.08em;
}
#sub-header a{
    color: #979fbd;

}
#sub-header a:hover{
    color:#8ab1ff;
}

#main-footer{
    text-align:center;
    padding:20px;
    margin-top:30px;
    color:#4c634c;
    font-weight:500;
}

table{
    background-color: #ffff;
    border-color: #eaf1f1;
    font-size:18px;
    border-color:#809d9d ;
}
.tmh{
    background-color:#809d9d ;
    color:#ffff;
    word-spacing:0.1em;
    letter-spacing: 0.03em;
}

.tsh{
    background-color:#FFFF ;
    color:#6c806c;
}
.tsh:hover{
    background-color:#e3ebe3;
    color:#6c806c;
}   
table td{
    font-weight:500;
    line-height:2em;
}
table td:hover{
    background-color:rgb(237, 245, 245);
}
